Playbooks/SOC_Okta_-_User_Investigation.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    isoverridable: false
    itemVersion: 3.3.15
    packID: ""
    packName: Okta
    prevname: ""
    toServerVersion: ""
description: This playbook performs an investigation on a specific user, using queries
  and logs from Okta.
id: 'SOC Okta - User Investigation'
adopted: true
inputs:
- description: The user email to search Okta logs.
  key: UserEmail
  playbookInputQuery:
  required: false
  value: {}
- description: |-
    The Country code from which the user logged in.
    Country Code Alpha 2 (Example: US)
  key: LoginCountry
  playbookInputQuery:
  required: false
  value: {}
- description: The ASN from which the user logged in.
  key: ASN
  playbookInputQuery:
  required: false
  value: {}
name: SOC Okta - User Investigation
outputs:
- contextPath: PermanentCountry
  description: True if the user work from a permanent country. False if else.
  type: unknown
- contextPath: UserDevices
  description: Devices used by the user.
  type: unknown
- contextPath: NumOfOktaSuspiciousActivities
  description: Number of Suspicious Activities for the user.
  type: unknown
- contextPath: ' SuspiciousUserActivities'
  description: Suspicious Activities for the user.
  type: unknown
- contextPath: NumOfOktaSuspiciousUserAgent
  description: Number of Suspicious User Agent.
  type: unknown
- contextPath: SuspiciousUserAgent
  description: Suspicious User Agent.
  type: unknown
- contextPath: UserApplication
  description: ' Applications used by the user.'
  type: unknown
- contextPath: NumOfOktaFailedLogon
  description: Number of failed login.
  type: unknown
- contextPath: NumOfFailedLogonASN
  description: Number of failed login from ASN by all users.
  type: unknown
- contextPath: LogonCountries
  description: The countries from which the user logged in.
  type: unknown
quiet: true
sourceplaybookid: Okta - User Investigation
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cd99ae77-4afb-4247-8428-f03e7108b363
      iscommand: false
      name: ""
      version: -1
    taskid: cd99ae77-4afb-4247-8428-f03e7108b363
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 3386,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb352d99-3d2e-4ae2-8b9b-4ecb8e2a970c
      iscommand: false
      name: Permanent Location Check
      type: title
      version: -1
    taskid: bb352d99-3d2e-4ae2-8b9b-4ecb8e2a970c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3140.75,
          "y": 1710
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Okta v2
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.UserEmail
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "9"
      - "33"
      - "38"
      - "41"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if Okta V2 integration enabled and the user email is defined.
      id: 45411a85-7b8b-41fa-86a7-5024cdf8ee49
      iscommand: false
      name: Is Okta V2 integration enabled and the user email is defined?
      type: condition
      version: -1
    taskid: 45411a85-7b8b-41fa-86a7-5024cdf8ee49
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1497.75,
          "y": 1040
        }
      }
  "4":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.LoginCountry
                transformers:
                - args:
                    country_code:
                      iscontext: true
                      value:
                        simple: inputs.LoginCountry
                    country_name: {}
                  operator: ConvertCountryCodeCountryName
          operator: in
          right:
            iscontext: true
            value:
              complex:
                root: LogonCountries
                transformers:
                - operator: uniq
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "6"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the user work from a permanent country
      id: df7a7cad-4048-4344-8c25-e59d5ce8d039
      iscommand: false
      name: The user work from a permanent country?
      type: condition
      version: -1
    taskid: df7a7cad-4048-4344-8c25-e59d5ce8d039
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3140.75,
          "y": 2210
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: errorPath
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: PermanentCountry
      value:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 4fed8d5e-57b7-46df-b024-d962e4ada1b8
      iscommand: false
      name: Set not a permanent country
      script: Set
      type: regular
      version: -1
    taskid: 4fed8d5e-57b7-46df-b024-d962e4ada1b8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2900.25,
          "y": 2380
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: errorPath
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: PermanentCountry
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 90d37109-ca58-49fc-b826-01446f7584a6
      iscommand: false
      name: Set permanent country
      script: Set
      type: regular
      version: -1
    taskid: 90d37109-ca58-49fc-b826-01446f7584a6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3381.25,
          "y": 2380
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3a7de498-117e-4882-8795-33c1743e8a0b
      iscommand: false
      name: Suspicious activity Search
      type: title
      version: -1
    taskid: 3a7de498-117e-4882-8795-33c1743e8a0b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340.5,
          "y": 1710
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: OktaSuspiciousActivities=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (eventType eq "user.mfa.attempt_bypass"
          or eventType eq "user.account.reset_password" and outcome.result eq "FAILURE"
          and outcome.reason eq "User answered recovery question invalid")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: |-
        Link to Okta suspicious activity events list:
        https://help.okta.com/oie/en-us/Content/Topics/Reports/suspicious-activity-report.htm
      id: 80cfc361-dfd8-4195-89d1-2b003e741f23
      iscommand: true
      name: Check for suspicious activities
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 80cfc361-dfd8-4195-89d1-2b003e741f23
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1870
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: OktaSuspiciousActivities
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "14"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 7f21a137-9c1a-4d38-8491-81bf80ba9f9b
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 7f21a137-9c1a-4d38-8491-81bf80ba9f9b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2040
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: OktaSuspiciousActivities
      contextKey:
        simple: NumOfOktaSuspiciousActivities
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 4fba2bf2-09f0-4ce9-894d-7512bf8d9d56
      iscommand: false
      name: Count Okta Suspicious activity
      script: CountArraySize
      type: regular
      version: -1
    taskid: 4fba2bf2-09f0-4ce9-894d-7512bf8d9d56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 2210
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: OktaUserAgentLogs=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (client.userAgent.rawUserAgent
          co "python" or client.userAgent.rawUserAgent co "curl"  or client.userAgent.rawUserAgent
          co "axios" or client.userAgent.rawUserAgent co "httpie" or client.userAgent.rawUserAgent
          co "wget")
      ignore-outputs:
        simple: "true"
      limit:
        simple: "5"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs by providing optional filters.
      id: 66dd97fd-c5b8-40d3-8f97-3cbf81c10980
      iscommand: true
      name: Check for suspicious user agent access app
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 66dd97fd-c5b8-40d3-8f97-3cbf81c10980
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 631,
          "y": 1870
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: OktaUserAgentLogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "17"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 31211bca-118e-40f2-891f-9a24bfb551a1
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 31211bca-118e-40f2-891f-9a24bfb551a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 631,
          "y": 2040
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: OktaUserAgentLogs
      contextKey:
        simple: NumOfOktaSuspiciousUserAgent
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 0d112b15-5b99-4fcd-873d-3a3a9aaac40e
      iscommand: false
      name: Count Okta Suspicious User Agent
      script: CountArraySize
      type: regular
      version: -1
    taskid: 0d112b15-5b99-4fcd-873d-3a3a9aaac40e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 2210
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1acf6ae5-e83f-4695-8da6-5dd457df5f06
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1acf6ae5-e83f-4695-8da6-5dd457df5f06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2078.75,
          "y": 2555
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3698725d-cf0f-473e-8926-8082fb0825b3
      iscommand: false
      name: Device Search
      type: title
      version: -1
    taskid: 3698725d-cf0f-473e-8926-8082fb0825b3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3962.25,
          "y": 2215
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: errorPath
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "22"
    note: false
    quietmode: 2
    scriptarguments:
      contextKey:
        simple: CurrentTime
      dateFormat:
        simple: ISO
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: cc3c53aa-5812-4c00-8473-ef9450865d43
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: cc3c53aa-5812-4c00-8473-ef9450865d43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3386,
          "y": 370
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: errorPath
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      contextKey:
        simple: TimeLast1Day
      dateFormat:
        simple: ISO
      daysAgo:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 6f792741-6df2-48b2-bd74-a594c90486ae
      iscommand: false
      name: Get time 1 day ago
      script: GetTime
      type: regular
      version: -1
    taskid: 6f792741-6df2-48b2-bd74-a594c90486ae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240.75,
          "y": 540
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: errorPath
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "24"
    note: false
    quietmode: 2
    scriptarguments:
      contextKey:
        simple: TimeLast1Week
      dateFormat:
        simple: ISO
      daysAgo:
        simple: "7"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 824b1e80-a4c0-4bc1-88c7-aff9bbd6a5dc
      iscommand: false
      name: Get time 7 days ago
      script: GetTime
      type: regular
      version: -1
    taskid: 824b1e80-a4c0-4bc1-88c7-aff9bbd6a5dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3095.5,
          "y": 710
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2710a4db-f66c-4934-8e19-d6d175901b72
      iscommand: false
      name: Okta User Investigation
      type: title
      version: -1
    taskid: 2710a4db-f66c-4934-8e19-d6d175901b72
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1497.75,
          "y": 880
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: errorPath
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: UserDevices
      value:
        complex:
          accessor: device
          root: LogonLogs.client
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 154a24bb-37a4-4dcb-919e-5253baea8ab8
      iscommand: false
      name: Set the Devices used by the user
      script: Set
      type: regular
      version: -1
    taskid: 154a24bb-37a4-4dcb-919e-5253baea8ab8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3962.25,
          "y": 2380
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 46e34908-9c66-4237-81ba-eff267880308
      iscommand: false
      name: Application Search
      type: title
      version: -1
    taskid: 46e34908-9c66-4237-81ba-eff267880308
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2319.25,
          "y": 2215
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: LogonLogs=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (eventType eq "user.authentication.sso"
          and outcome.result eq "SUCCESS" or eventType eq "user.authentication.auth"
          and outcome.result eq "SUCCESS")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1WeekTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs by providing optional filters.
      id: 62dd7273-0d11-49dd-884f-7376f905f5f8
      iscommand: true
      name: Get Successful logon logs
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 62dd7273-0d11-49dd-884f-7376f905f5f8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2995.5,
          "y": 1370
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: LogonLogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "27"
      - "1"
      - "19"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 0041246d-5e88-41b0-8d34-fdd1f164b927
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 0041246d-5e88-41b0-8d34-fdd1f164b927
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2995.5,
          "y": 1540
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: errorPath
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: UserApplication
      value:
        complex:
          accessor: displayName
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: LogonLogs.target.type
              operator: isEqualString
              right:
                value:
                  simple: AppInstance
          root: LogonLogs.target
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c864ef1d-7d1f-442f-843d-e927c1d2949a
      iscommand: false
      name: Set the Application used by the user
      script: Set
      type: regular
      version: -1
    taskid: c864ef1d-7d1f-442f-843d-e927c1d2949a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2319.25,
          "y": 2380
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: errorPath
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: ' SuspiciousUserAgent'
      value:
        complex:
          accessor: rawUserAgent
          root: OktaUserAgentLogs.client.userAgent
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cc1da478-8ff2-4714-9368-c5a6e3ce959f
      iscommand: false
      name: Set Okta Suspicious User Agent
      script: Set
      type: regular
      version: -1
    taskid: cc1da478-8ff2-4714-9368-c5a6e3ce959f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 2380
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: errorPath
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: ' SuspiciousUserActivities'
      value:
        complex:
          accessor: displayMessage
          root: OktaSuspiciousActivities
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 4aba981b-ab38-4331-823d-f1c15a8dcac4
      iscommand: false
      name: Set Okta Suspicious User Activities
      script: Set
      type: regular
      version: -1
    taskid: 4aba981b-ab38-4331-823d-f1c15a8dcac4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 2380
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dc1f4b9d-9baa-461e-82a4-88370a100652
      iscommand: false
      name: Failed logon Search
      type: title
      version: -1
    taskid: dc1f4b9d-9baa-461e-82a4-88370a100652
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1497.75,
          "y": 1875
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: OktaFailedLogonLogs=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (eventType eq "user.authentication.sso"
          and outcome.result eq "FAILURE" or eventType eq "user.authentication.auth"
          and outcome.result eq "FAILURE")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs on failed logon events.
      id: 60f59adf-a233-4d7f-87ee-43d559400184
      iscommand: true
      name: Search for failed logon attempts using OKTA
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 60f59adf-a233-4d7f-87ee-43d559400184
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1497.75,
          "y": 2040
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: OktaFailedLogonLogs
      contextKey:
        simple: NumOfOktaFailedLogon
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: c021863b-857c-454b-8773-52728869bf46
      iscommand: false
      name: Count Okta failed logon
      script: CountArraySize
      type: regular
      version: -1
    taskid: c021863b-857c-454b-8773-52728869bf46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1738.25,
          "y": 2380
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: OktaFailedLogonLogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "yes":
      - "35"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 9ca75b6a-4c9f-44dd-8476-97ff2f499c6e
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 9ca75b6a-4c9f-44dd-8476-97ff2f499c6e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1497.75,
          "y": 2210
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2126e24-e834-4c30-8d6c-4c9644825c07
      iscommand: false
      name: Time Calculation
      type: title
      version: -1
    taskid: f2126e24-e834-4c30-8d6c-4c9644825c07
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3386,
          "y": 210
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b5d4215-d639-41b4-8f2f-bbc2238c47f1
      iscommand: false
      name: Successful Logon Search
      type: title
      version: -1
    taskid: 1b5d4215-d639-41b4-8f2f-bbc2238c47f1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2995.5,
          "y": 1210
        }
      }
  "39":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.LoginCountry
          operator: isNotEmpty
          right:
            value: {}
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.LoginCountry
          operator: isNotEqualString
          right:
            value:
              simple: Unknown
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the login country is defined.
      id: 1ac922e4-2893-48be-8e9c-ee8965499f20
      iscommand: false
      name: Check if the login country is defined
      type: condition
      version: -1
    taskid: 1ac922e4-2893-48be-8e9c-ee8965499f20
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2995.5,
          "y": 2040
        }
      }
  "40":
    continueonerror: true
    continueonerrortype: errorPath
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: NumOfOktaFailedLogon
      value:
        simple: "0"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f6a5c5d3-2d07-46a5-ad7b-a2381d0ec0b7
      iscommand: false
      name: Set Number Of Okta Failed Logon to Zero
      script: Set
      type: regular
      version: -1
    taskid: f6a5c5d3-2d07-46a5-ad7b-a2381d0ec0b7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1257.25,
          "y": 2380
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13072b32-dac0-4c4d-8c5a-cc0b5de7d1a0
      iscommand: false
      name: Failed Logon from ASN Search
      type: title
      version: -1
    taskid: 13072b32-dac0-4c4d-8c5a-cc0b5de7d1a0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4448,
          "y": 1710
        }
      }
  "42":
    continueonerror: true
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: ASNfailedlogs=
      filter:
        simple: securityContext.asNumber eq "${inputs.ASN}" and (eventType eq "user.authentication.sso"
          and outcome.result eq "FAILURE" or eventType eq "user.authentication.auth"
          and outcome.result eq "FAILURE")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs by providing optional filters.
      id: 256398af-e248-438b-8e7a-c72f9c238635
      iscommand: true
      name: Check for all failed logon from ASN
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 256398af-e248-438b-8e7a-c72f9c238635
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4593.25,
          "y": 2040
        }
      }
  "43":
    continueonerror: true
    continueonerrortype: errorPath
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: ASNfailedlogs
      contextKey:
        simple: NumOfFailedLogonASN
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 635d536d-574d-44f4-bdfb-b37f7305f75c
      iscommand: false
      name: Count failed logon from ASN
      script: CountArraySize
      type: regular
      version: -1
    taskid: 635d536d-574d-44f4-bdfb-b37f7305f75c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4738.5,
          "y": 2380
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: ASNfailedlogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "43"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta.
      id: b4510d1e-8338-40f9-856d-1e08db99747a
      iscommand: false
      name: Does the result from Okta exist?
      type: condition
      version: -1
    taskid: b4510d1e-8338-40f9-856d-1e08db99747a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4593.25,
          "y": 2210
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ASN
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "42"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta.
      id: bb29f22a-c8db-4192-8345-462cb2453443
      iscommand: false
      name: Does the ASN is defined?
      type: condition
      version: -1
    taskid: bb29f22a-c8db-4192-8345-462cb2453443
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4448,
          "y": 1870
        }
      }
  "46":
    continueonerror: true
    continueonerrortype: errorPath
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "47"
      '#none#':
      - "39"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: LogonCountries
      value:
        complex:
          accessor: country
          root: LogonLogs.client.geographicalContext
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: aec5498b-c1df-46a3-b656-e0d8a007305a
      iscommand: false
      name: Set the country from which the user logged in
      script: Set
      type: regular
      version: -1
    taskid: aec5498b-c1df-46a3-b656-e0d8a007305a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3140.75,
          "y": 1870
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 20a83154-7bd6-4b29-8e44-e5806da95300
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 20a83154-7bd6-4b29-8e44-e5806da95300
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3621.75,
          "y": 2550
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_18_#default#": 0.16,
      "16_18_#default#": 0.22,
      "29_18_#default#": 0.53,
      "2_18_#default#": 0.16,
      "2_41_yes": 0.9,
      "36_35_yes": 0.47,
      "36_40_#default#": 0.47,
      "39_18_#default#": 0.16,
      "39_4_yes": 0.44,
      "44_18_#default#": 0.1,
      "44_43_yes": 0.58,
      "45_18_#default#": 0.1,
      "45_42_yes": 0.49
    },
    "paper": {
      "dimensions": {
        "height": 2570,
        "width": 5069.5,
        "x": 50,
        "y": 50
      }
    }
  }
fromversion: 5.0.0
