Playbooks/SOC_Cloud_Credentials_Rotation_-_Azure.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    isoverridable: false
    itemVersion: 1.1.24
    packID: ""
    packName: Azure Enrichment and Remediation
    prevname: ""
    toServerVersion: ""
description: |-
  ## **Azure Credentials Rotation Playbook**

  ### **IAM Remediation**
  Protect your identity and access management:
  - **Reset Password**: Resets the user password to halt any unauthorized access.

  - **Revoke Session**: Terminates current active sessions to ensure the malicious actor is locked out.

  - **Combo Action**: Resets the password and terminates all active sessions.

  ### **Service Principal Remediation**
  Guard your applications:
  - **Password Regeneration**: Generate a new password for the service principal, making sure the old one becomes obsolete.
id: 'SOC Cloud Credentials Rotation - Azure'
inputs:
- description: |-
    The response playbook provides the following remediation actions using MSGraph Users:

    Reset: By entering "Reset" in the input, the playbook will execute password reset.

    Revoke: By entering "Revoke" in the input, the playbook will revoke the user's session.

    ALL: By entering "ALL" in the input, the playbook will execute the reset password and revoke session tasks.
  key: IAMRemediationType
  playbookInputQuery: null
  required: false
  value: {}
- description: This is the unique application (client) ID of the application.
  key: appID
  playbookInputQuery: null
  required: false
  value: {}
- description: This is the unique ID of the service principal object associated with
    the application.
  key: objectID
  playbookInputQuery: null
  required: false
  value: {}
- description: The user ID or user principal name.
  key: userID
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The type of identity involved. Usually mapped to incident field named 'cloudidentitytype'.
    e.g.
    IAM,APPLICATION
  key: identityType
  playbookInputQuery: null
  required: false
  value: {}
name: SOC Cloud Credentials Rotation - Azure
outputs:
- contextPath: MSGraphUser
  description: The Microsoft Graph Users information.
  type: unknown
- contextPath: MSGraphApplication
  description: The Microsoft Graph Application information.
  type: unknown
sourceplaybookid: Cloud Credentials Rotation - Azure
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44de7b7b-6a93-4318-86c0-fd5242772161
      iscommand: false
      name: ""
      version: -1
    taskid: 44de7b7b-6a93-4318-86c0-fd5242772161
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 390.5,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: errorPath
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      updated_fields:
        simple: 'passwordProfile: forceChangePasswordNextSignIn=true, password=${NEW_PASSWORD}'
      user:
        complex:
          root: inputs.userID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Updates the properties of a user object.
        Permissions: - User.ReadWrite (Delegated & Application)
      id: d657d6c5-938c-4c20-ac08-cce6ae03eb1d
      iscommand: true
      name: Reset password
      script: '|||msgraph-user-update'
      type: regular
      version: -1
    taskid: d657d6c5-938c-4c20-ac08-cce6ae03eb1d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1220
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: errorPath
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        complex:
          root: inputs.userID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Revoke a user session- Invalidates all the refresh tokens issued to applications for a user.
        Permission: Directory.AccessAsUser.All(Delegated)
      id: 90fae783-b6c3-43a7-ab5a-9bb488fee296
      iscommand: true
      name: Revoke session
      script: '|||msgraph-user-session-revoke'
      type: regular
      version: -1
    taskid: 90fae783-b6c3-43a7-ab5a-9bb488fee296
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1112,
          "y": 1220
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: daf80df8-2d73-4de6-8bff-93c21a978c75
      iscommand: false
      name: IAM Users
      type: title
      version: -1
    taskid: daf80df8-2d73-4de6-8bff-93c21a978c75
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 390.5,
          "y": 380
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IAMRemediationType
          operator: isEqualString
          right:
            value:
              simple: Reset
      label: Reset Password
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IAMRemediationType
          operator: isEqualString
          right:
            value:
              simple: Revoke
      label: Revoke Session
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IAMRemediationType
          operator: isEqualString
          right:
            value:
              simple: ALL
      label: ALL
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      ALL:
      - "17"
      Reset Password:
      - "24"
      Revoke Session:
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the remediation type provided by the user.
      id: 689c1495-e695-4b88-8151-3f625345ad05
      iscommand: false
      name: Check remediation type
      type: condition
      version: -1
    taskid: 689c1495-e695-4b88-8151-3f625345ad05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 390.5,
          "y": 540
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f424dee6-ce56-48d2-80ce-dc9e9bc67e40
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f424dee6-ce56-48d2-80ce-dc9e9bc67e40
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 1395
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a439157f-37d2-47be-882d-dde93d9099d5
      iscommand: false
      name: Service Principals
      type: title
      version: -1
    taskid: a439157f-37d2-47be-882d-dde93d9099d5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2124,
          "y": 380
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: errorPath
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "12"
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      app_id:
        complex:
          root: inputs.appID
      id:
        complex:
          root: inputs.objectID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieve the properties and relationships of a servicePrincipal
        object.
      id: 587aa82a-ced6-4c96-a270-b6e6be3acea1
      iscommand: true
      name: Get the service principal
      script: '|||msgraph-apps-service-principal-get'
      type: regular
      version: -1
    taskid: 587aa82a-ced6-4c96-a270-b6e6be3acea1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2124,
          "y": 540
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: errorPath
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: MSGraphApplication
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Unlock configuration of a service principal.
      id: 4f8df0ed-8f4a-4204-83f3-f685fc50fb7a
      iscommand: true
      name: Unlock the service principal configuration
      script: '|||msgraph-apps-service-principal-unlock-configuration'
      type: regular
      version: -1
    taskid: 4f8df0ed-8f4a-4204-83f3-f685fc50fb7a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2319.25,
          "y": 880
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: errorPath
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      app_id:
        complex:
          accessor: appId
          root: MSGraphApplication
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Add a strong password or secret to a service principal. To allow
        this command, use msgraph-apps-service-principal-unlock-configuration. The
        password will be expired in 1 hour by default.
      id: bd12f312-ae7f-40e5-a24f-b94b8eb24c29
      iscommand: true
      name: Add new password to the service principal
      script: '|||msgraph-apps-service-principal-password-add'
      type: regular
      version: -1
    taskid: bd12f312-ae7f-40e5-a24f-b94b8eb24c29
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2269.25,
          "y": 1050
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: errorPath
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      min_digits:
        simple: "5"
      min_lcase:
        simple: "5"
      min_symbols:
        simple: "1"
      min_ucase:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "This function generates a password and allows various parameters
        to customize the properties of the password depending on the use case (e.g.
        password complexity requirements).  The default behavior is to generate a
        password of  *random length* including all four character classes (upper,
        lower, digits, symbols) with at least five and at most ten characters per
        class. \n\nThe min_* values all default to 0. This means that if the command
        is executed in this way:\n!GeneratePassword max_lcase=10\nIt is possible that
        a password of length zero could be generated. It is therefore recommended
        to always include a min_* parameter that matches. \n\nThe debug parameter
        will print certain properties of the command into the WarRoom for easy diagnostics."
      id: 845f42de-01f1-4a18-9893-f5be4ba1caa6
      iscommand: false
      name: Generate password
      script: GeneratePassword
      type: regular
      version: -1
    taskid: 845f42de-01f1-4a18-9893-f5be4ba1caa6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 145.25,
          "y": 1050
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c99cf073-a673-497b-8b42-e78cdf7739f2
      iscommand: false
      name: ALL
      type: title
      version: -1
    taskid: c99cf073-a673-497b-8b42-e78cdf7739f2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340.5,
          "y": 715
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.identityType
          operator: isEqualString
          right:
            value:
              simple: Application
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.appID
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.objectID
          operator: isNotEmpty
      label: SP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.identityType
          operator: isEqualString
          right:
            value:
              simple: IAM
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.userID
          operator: isNotEmpty
      label: IAM
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      IAM:
      - "7"
      SP:
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the identity type that was part of the alert.
      id: 1423427f-02ea-4e80-8c54-0aa434688e44
      iscommand: false
      name: Check identity type
      type: condition
      version: -1
    taskid: 1423427f-02ea-4e80-8c54-0aa434688e44
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 390.5,
          "y": 210
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: errorPath
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "20"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: MSGraphApplication
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Lock configuration of a service principal.
      id: 227dc640-333c-4a67-bf87-05736314d66d
      iscommand: true
      name: Lock the service principal configuration
      script: '|||msgraph-apps-service-principal-lock-configuration'
      type: regular
      version: -1
    taskid: 227dc640-333c-4a67-bf87-05736314d66d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2174,
          "y": 1220
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 0ffe0b3e-e63f-470b-88ac-8ed6ef845eda
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 0ffe0b3e-e63f-470b-88ac-8ed6ef845eda
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1978.75,
          "y": 1390
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4dd49c3c-bd37-408c-9931-7e0e14d6d60a
      iscommand: false
      name: Shadow Mode?
      type: condition
      version: -1
    taskid: 4dd49c3c-bd37-408c-9931-7e0e14d6d60a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2850.25,
          "y": 710
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Mode: Unlock the service principal configuration\nCommands:
          \nmsgraph-apps-service-principal-unlock-configuration\nmsgraph-apps-service-principal-password-add\nmsgraph-apps-service-principal-lock-configuration"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 36cb2c91-6a09-410f-b63a-57ff83f3cd49
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 36cb2c91-6a09-410f-b63a-57ff83f3cd49
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2950.25,
          "y": 1220
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8d5d025e-e51a-4596-8179-1f3ab6615b57
      iscommand: false
      name: Shadow Mode?
      type: condition
      version: -1
    taskid: 8d5d025e-e51a-4596-8179-1f3ab6615b57
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1207.25,
          "y": 1050
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6ffee6b-028c-4831-8e7b-623b16f14381
      iscommand: false
      name: Shadow Mode?
      type: condition
      version: -1
    taskid: d6ffee6b-028c-4831-8e7b-623b16f14381
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 880
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Mode: Reset Password\nCommands: \nGeneratePassword\nmsgraph-user-update"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: bc113bb7-425c-46ba-be41-0097d48a45fb
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: bc113bb7-425c-46ba-be41-0097d48a45fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 631,
          "y": 1220
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Mode: Revoke Session\nCommands: \nmsgraph-user-session-revoke"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 67702720-f1f3-44e8-a95d-ca7b22f5db44
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 67702720-f1f3-44e8-a95d-ca7b22f5db44
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1593,
          "y": 1220
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "18_10_SP": 0.53,
      "18_7_IAM": 0.67,
      "18_9_#default#": 0.11,
      "8_17_ALL": 0.33,
      "8_23_Revoke Session": 0.69,
      "8_24_Reset Password": 0.63
    },
    "paper": {
      "dimensions": {
        "height": 1410,
        "width": 3281.25,
        "x": 50,
        "y": 50
      }
    }
  }
